body {
  background-color: #00306e;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#bg-main-container {
  background-color: #2a6aa9;
}

#bg-top-container {
  background-color: #2a6aa9;
}

#bg-bottom-container {
  background-color: #2a6aa9;
}

#bg-img-1 {
  height: 7rem;
}

#bg-img-2 {
  height: 7rem;
}

#bg-img-3 {
  height: 7rem;
}

#bg-img-4 {
  height: 8rem;
}

#bg-img-logo {
  height: 5rem;
}

#catalog-container {
  background-color: antiquewhite;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 520px;
}

.btn {
  background-color: #0ea399;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.catalog-title {
  color: white;
  margin-bottom: 1rem;
  text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 10px;
}

.carousel {
  max-width: 300px;
}

/*
original colors:
#f9accf
#8d143d
#2a6aa9
#399c96
*/
