body {
  background-color: #00306e;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
#title-section {
  z-index: 1;
  position: absolute;
  top: 0px;
  height: 7rem;
}

#title {
  text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 10px;
}

#bg-main-container {
  background-color: #2a6aa9;
  min-height: 100vh;
}

#bg-top-container {
  background-color: #2a6aa9;
}

#bg-bottom-container {
  background-color: #2a6aa9;
}

#bg-img-1 {
  height: 7rem;
}

#bg-img-2 {
  height: 7rem;
}

#bg-img-3 {
  height: 4rem;
}

#bg-img-4 {
  height: 5rem;
}

#bg-img-logo {
  height: 4rem;
}

#carouselComponent {
  max-width: 400px;
  margin: 1rem;
}

#downloadBtn {
  background-color: #0ea399;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}

/*
original colors:
#f9accf
#8d143d
#2a6aa9
#399c96
*/
