body {
  background-color: #00306e;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.navbar {
  /* background-color: #003e4d; */
  background-color: #91386c;
}

.dropdown-menu.show {
  background-color: #b14584;
}

#title-section {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(255, 255, 255, 0) 92%
  );
  z-index: 1;
  position: absolute;
  top: 40px;
  height: 7rem;
}

#title {
  text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 10px;
}

#subtitle {
  text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 10px;
  margin-left: 0.5rem;
}

#bg-main-container {
  background-color: #2a6aa9;
  min-height: 100vh;
}

#bg-top-container {
  background-color: #2a6aa9;
  margin-top: 20px;
}

#bg-bottom-container {
  background-color: #2a6aa9;
}

#footer-section {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 95%
  );
  z-index: 1;
  position: absolute;
  height: 5rem;
}

#bg-img-1 {
  height: 7rem;
}

#bg-img-2 {
  height: 7rem;
}

#bg-img-3 {
  height: 4rem;
}

#bg-img-4 {
  height: 5rem;
}

#bg-img-logo {
  height: 4rem;
}

#carouselComponent {
  max-width: 400px;
  margin: 1rem;
}

#downloadBtn {
  background-color: #91386c;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}
