/* body {
  height: 100vh;
  margin: 0;
  background: #87084c;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* $theme-colors: (
  'primary': #87084c,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark
); */

.btn {
  height: 3rem;
}
